* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #1a1a1b;
  fill: #1a1a1b;
}

html,
body {
  height: 100%;
}

h1 {
  text-align: center;
  color: #0079de;
  margin: 2rem 0;
}

.subreddit-search-btn {
  background-color: #0079d3;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 2px 10px;
}

#subreddit-select-form {
  text-align: center;
  margin-bottom: 5rem;
}

article {
  display: block;
  position: relative;
  min-height: 134px;
  /* background: orange; */
}

.container {
  max-width: 375px;
  height: 100%;
  /* background: red; */
  margin: 0 auto;
}

.post-header {
  padding-top: 0;
  align-items: center;
}

.post-header-metadata-container {
  display: flex;
  align-items: center;
}

.post-header-wrapper {
  position: relative;
}

.post-header-descriptor-line {
  color: #a5a4a4;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  -ms-flex: 1 0;
  flex: 1 0;
}

.post-header-descriptor-line-overflow {
  color: #798389;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 4px;
  overflow: hidden;
  padding: 8px 16px;
  padding-right: 3em;
  white-space: nowrap;
}

.post-header-descriptor-line-overflow:after {
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, #fff 70%);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3em;
}

.post-header-avatar {
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-radius: 50%;
  height: 24px;
  margin-right: 6px;
  width: 24px;
  vertical-align: middle;
  border: 0;
}

.post-header-author-link {
  color: #1a1a1b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  pointer-events: all;
  display: flex;
  align-items: center;
  text-decoration: none;
  background: transparent;
}

.post-header-post-meta-container {
  display: flex;
  align-items: center;
}

.post-header-separator {
  color: #798389;
  font-size: 14px;
  line-height: 18px;
}

.post-header-separator:after {
  pointer-events: all;
  color: #818384;
  content: "\2022";
  display: inline-block;
  margin: 0 4px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.post-header-icon-seashells {
  padding-top: 4px;
  width: 45px;
  font-family: "rfont";
  color: #565758;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 16px 8px 12px;
  vertical-align: middle;
  background: transparent;
}

.fa-solid.fa-ellipsis {
  color: black;
}

/* .post-header-icon-seashells:before {
    padding-top: 4px;
    -webkit-font-smoothing: antialiased;
    content: "\F15B";
    font-family: "rfont";
    color: #565758;
    font-size: 16px;
    line-height: 16px;
    padding: 8px 16px 8px 12px;
    vertical-align: middle;
  } */

.post-link {
  bottom: 0;
  left: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
}

.post-thumbnail-and-title {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 16px;
}

.post-title {
  overflow: hidden;
  overflow-wrap: break-word;
}

.post-header-post-title-line {
  display: block;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 2px 0;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  color: #1a1a1b;
}

.post-header-post-title-line:visited,
.post-header-post-title-line:active {
  color: #a5a4a4 !important;
  pointer-events: all;
}

.post-footer {
  display: block;
  padding: 8px 16px;
  border-bottom-width: 4px;
  border-bottom: 8px solid #efefed;
}

.post-footer:before {
  content: " ";
  display: table;
}

.post-footer:after {
  clear: both;
  content: " ";
  display: table;
}

.post-footer-tools {
  display: flex;
  flex: 1;
  float: none;
  top: 0;
  position: relative;
}

.post-footer-votes {
  /* border: 1px dashed #efefed; */
  border: 1px dashed red;
  /* border-color: #edeff1; */
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  font-size: 12px;
  margin-right: 10px;
  max-width: 110px;
  width: auto;
  pointer-events: all;
}

.post-footer-save-button {
  font-family: inherit;
  line-height: inherit;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  background-color: inherit;
  font: inherit;
  margin: 0;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  border: 1px solid #efefed;
  border-color: #edeff1;
  border-radius: 16px;
  align-items: center;
  display: inline-flex;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  font-size: 12px;
  flex-shrink: 1;
  margin-right: 10px;
  padding: 0;
  width: auto;
}

.post-footer-comments-link {
  color: #787c7e;
  fill: #787c7e;
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
  padding: 2px 8px 0;
  width: auto;
  max-width: 100px;
  text-decoration: none;
  line-height: 24px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.post-footer-comments-link-icon {
  /* Needs to be removed on comments comment icon */
  margin-right: 4px;
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
}

/* .post-footer-toggled {
  color: #787c7e;
  fill: #787c7e;
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  width: 32px;
  font-size: 12px;
  margin-left: auto;
  margin-right: 0;
  max-width: 85px;
  pointer-events: all;
} */

.upvote {
  border: unset;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  width: 32px;
  font-size: 12px;
  color: #787c7e;
  fill: #787c7e;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
}

.upvote > svg {
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
  font-weight: 500;
  overflow: hidden;
  font-size: 12px;
  color: #787c7e;
  fill: #787c7e;
  line-height: 24px;
}

.vote-score {
  min-width: 16px;
  color: #787c7e;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  line-height: 14px;
  padding-top: 2px;
  fill: #ccccca;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  pointer-events: all;
  padding: 2px 8px 2px 2px;
}

.post-footer-button-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 85px;
  padding: 1px 7px;
  color: #787c7e;
  fill: #787c7e;
  white-space: nowrap;
}

.post-footer-save-icon {
  margin-right: 0;
  flex: 0 0 16px;
  opacity: 1;
  position: static;
  overflow: hidden;
  height: 16px;
  color: #787c7e;
  fill: #787c7e;
}

.post-footer-toggled {
  box-sizing: border-box;
  color: #787c7e;
  fill: #787c7e;
  border: 1px solid #efefed;
  border-color: #edeff1;
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  min-width: 32px;
  width: 32px;
  font-size: 12px;
  margin-left: auto;
  margin-right: 0;
  max-width: 85px;
  pointer-events: all;
  white-space: nowrap;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.comment-footer {
  color: #787c7e;
  fill: #787c7e;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  max-width: 85px;
  pointer-events: all;
  white-space: nowrap;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

/* .post-footer-toggled-icon {
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
  color: #787c7e;
  fill: #787c7e;
  font-weight: 500;
} */

.input {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
}
.input__label {
  cursor: pointer;
  flex-shrink: 0;
}
.input_toggle .input__label {
  width: 16px;
  height: 12px;
  height: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 100px;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  border: 2px solid #fff;
  background: #fff;
  outline: 1px solid #d0d0d0;
  outline: 1px solid #787c7e;
}

.input_toggle .input__label::before {
  content: "";
  position: absolute;
  top: calc(50% - 6px / 2);
  width: 6px;
  height: 6px;
  display: block;
  flex-shrink: 0;
  border-radius: 50%;
  background: #d0d0d0;
  background: #787c7e;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.input_toggle .input__source {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.input_toggle .input__source:checked ~ .input__label::before {
  transform: translateX(calc(100% + 4px));
  transform: translateX(calc(100%));
}
.input_toggle .input__source:checked ~ .input__label {
  border: 2px solid #d0d0d0;
  border: 2px solid #787c7e;
  background: #d0d0d0;
  background: #787c7e;
  outline: 1px solid #fff;
}
.input_toggle .input__source:checked ~ .input__label::before {
  background: #fff;
}

.transition {
  animation: fade-in 1000ms forwards;
}

.hide_posts {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*

EDIT: 
This probably needs to be done with transform-y and JavaScript


Principles involved in CSS Animation Series
- Instill with life
- Having the appearance of movement

CSS Movement:
- Transition Property
- Animation Property + Keyframes

.element {
   transition: [property] [duration] [ease] [delay];
}



*/

/* COMMENTS CSS */
.CommentTree__tree {
  padding: 0;
}
.CommentTree__comment.m-comment.m-toplevel {
  position: relative;
  padding: 16px 16px 0;
}
.CommentTree__comment.m-toplevel:not(:first-child) {
  border-top: 1px solid #efefed;
  margin-top: 16px;
}
.Comment {
  padding-left: 0;
}
.Comment.in-comment-tree.m-top {
  background-color: #fff;
}
.Comment__header {
  padding: 0;
}
.CommentHeader {
}
.CommentHeader__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
}
.CommentHeader__col2 {
  max-width: 0;
  white-space: nowrap;
  padding: 0;
  padding-left: 40px;
  vertical-align: middle;
}
.CommentHeader__container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.CommentHeader__username {
  color: #121213;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  font-weight: 700;
  margin-right: 8px;
  max-width: 100%;
  font-size: 12px;
  line-height: 17px;
  vertical-align: middle;
}
.CommentHeader__avatar {
  height: 30px;
  margin-left: -40px;
  position: absolute;
  width: 30px;
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border-radius: 50%;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
}
}
.CommentHeader__timestamp {
  color: #565758;
  font-size: 12px;
  line-height: 17px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.CommentHeader__colMore {
  vertical-align: top;
  width: 16px;
}
.CommentHeader__more.icon.icon-seashells {
    color: #565758;
}
.icon-seashells:before {
    content: "\F15B";
}
.sr-only {
}
.Comment__body {
    padding-left: 40px;
    margin-top: 4px;
    overflow: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}
.md p{
    margin: 0 0 10px;
}
.Comment__toolsContainer.clearfix {
    padding-left: 40px;
    overflow: visible;
}
.Comment__toolsContainer:after {
    content: " ";
    display: table;
}
.Comment__tools {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* .DropdownModalWrapper {
}
.VotingBox {

}
._1UC3OWGfqCsYvxcSoPUm3w.icon.icon-reply2 {
}
._2OSerrGqsksmXpb-ulVmEG {
}
.AwardsBar {
} */

.tag-parent {
    padding-left: 15px;
    display: flex;
}

.Comment__toolsContainer.clearfix  .post-footer-toggled::-webkit-scrollbar,
.comment-footer::-webkit-scrollbar {
    display: none;
}

.Comment__toolsContainer.clearfix  .post-footer-toggled,
.comment-footer {
  color: #787c7e;
  fill: #787c7e;
  border-radius: 16px;
  display: inline-flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 32px;
  max-width: 85px;
  pointer-events: all;
  white-space: nowrap;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  /*  */
    margin-left: auto;
    box-sizing: border-box;
    margin-right:30px;
    /* visibility: hidden; */
    border: 1px dashed blue;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 12px;
    min-width: 120px !important;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#subreddit-tag {
    padding-right: 15px;
    font-size: 12px;
}

